/* Estilos por defecto */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Fondo */
body {
    background-color: #FFA500; /* Orange background color */
    font-family: Arial, sans-serif;
}

/* Barra de navegación */
header {
    background-color: #222;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.menu:hover{
    background: #c9c9c9;
}
/* Sección hero */
.hero {
    background-image: url('orange-image.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}



.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF5733; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #FF8143; 
}

/* Sección "Sobre nosotros" */
.about {
    background-color: #fff;
    padding: 50px 0;
    text-align: justify;
}

.about h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Contenedor de las secciones */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Style the footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsive design */
@media (max-width: 768px) {
    /* Adjust the navigation bar for smaller screens */
    nav ul {
        text-align: center;
        margin-top: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    /* Make the hero section more compact */
    .hero {
        padding: 50px 0;
    }

    .hero h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .hero p {
        font-size: 16px;
    }

    .cta-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    /* Adjust the about section */
    .about {
        padding: 30px 0;
    }

    .about h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
}

section {
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-bottom: 0.5rem;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }
  
  .plan {
    background-color: #eee;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .plan h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .plan .price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .plan ul {
    margin-bottom: 0.5rem;
  }
  
  .plan li {
    margin-bottom: 0.25rem;
  }
  
  .plan .cta {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
  }